body{
  font-family: 'Bree Serif', serif;
  color: #d2deeb;
}

.container{
  width: 1400px;
  margin-left: 200px;
}

.navbar{
  font-size: 40px;
  margin-left: 120px;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.nav-button{
  display: inline-block;
  margin-right: 40px;
}

.main{
  background-image: url("img/bg_001.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  width: 80%;
  height: 800px;
  text-shadow: 2px 2px #00121b;
}

.banner{
  margin-bottom: 20px;
}

.main2{
  width: 1174px;
  height: 600px;
  background-color: rgba(6, 82, 92, 0.86);
  border-radius: 36px;
  padding: 30px;
}

.title{
  font-size: 120px;
  margin-left: 120px;
}

.subtitle{
  font-size: 30px;
  margin-left: 120px;
}

.header1{
  font-size: 20px;
  font-weight: bold;

}

.text1{
  font-size: 14px;
}

.team-members{
  display: flex;
}

.member{
  margin: 20px;
  text-align: center;
  border: black solid 5px;
  padding: 20px;
}

.member-pic{
  width: 100px;
}